<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    @RenderSection("head", required: false)
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="	advisor, analytical, audit, broker, brokerage, business, company, consulting, currency, exchange, finance, financial, insurance, modern, trader">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/font.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">
    <link rel="icon" type="image/png" href="~/Content/assets/images/favicon.ico" />
</head>
<body>
    <div class="me-main-wraper">
        <!-- top header -->
        <div class="me-top-header">
            <div class="container">
                <div class="me-top-head">
                    <div class="me-top-header-left">
                        <ul>
                            <li>Follow Us :</li>
                            @*<li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>*@
                            <li><a href="https://twitter.com/ChameleonNFT" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="http://discord.gg/wWAhsZh4R4" target="_blank"><i class="fab fa-discord pr-2"></i></a></li>
                            <li><a href="https://www.reddit.com/r/CardanoChameleons/" target="_blank"><i class="fab fa-reddit pr-2"></i></a></li>

                            @*<li><a href="javascript:;"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="javascript:;"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="javascript:;"><i class="fab fa-instagram"></i></a></li>*@
                        </ul>
                    </div>
                    <!--<div class="me-top-header-right">
                        <ul>
                            <li>-->
                    @*<i class="far fa-envelope-open"></i>support@cardanochameleons.com*@
                    <!--</li>
                    <li>-->
                    @*<i class="fas fa-mobile-alt"></i> +789-5654-123*@
                    <!--</li>
                        </ul>
                    </div>-->
                </div>
            </div>
        </div>
        <!-- main header -->
        <div class="me-main-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-7">
                        <div class="me-logo">
                            <a href="https://cardanochameleons.io/"><img src="~/Content/assets/images/logo.png" alt="logo" class="img-fluid" /></a>
                            @*<a href="@Url.Action("Index","Home")"><img src="~/Content/assets/images/logo.png" alt="logo" class="img-fluid" /></a>*@
                        </div>
                    </div>
                    <div class="col-sm-9 col-5">
                        <div class="me-menu">
                            <ul>
                                @*<li class="me-menu-children">
                                        <a href="@Url.Action("Index","Home")" class="me-active-menu"><i class="fa fa-home pr-2"></i>Home</a>
                                    </li>*@
                                <li class="me-menu-children">
                                    <a href="https://cardanochameleons.io/" target="_blank" @*class="me-active-menu"*@>@*<i class="fa fa-home pr-2"></i>*@Home</a>
                                </li>
                                @*<li><a href="@Url.Action("Parity","Home")"><i class="fa fa-chart-bar pr-2"></i>Rarity</a></li>
                                    <li><a href="@Url.Action("Explore","Home")"><i class="fa fa-rocket pr-2"></i>Explore</a></li>*@
                                <li><a href="https://cardanochameleons.io/about/" target="_blank">&nbsp;&nbsp;About</a></li>
                                <li><a href="https://cardanochameleons.io/roadmap/" target="_blank">&nbsp;&nbsp;Roadmap</a></li>
                                <li><a href="https://cardanochameleons.io/faq/" target="_blank">&nbsp;&nbsp;FAQ</a></li>
                                <li><a href="https://twitter.com/ChameleonNFT" target="_blank"><i class="fab fa-twitter pr-2"></i>Twitter</a></li>
                                <li><a href="http://discord.gg/wWAhsZh4R4" target="_blank"><i class="fab fa-discord pr-2"></i>Discord</a></li>
                                <li><a href="@Url.Action("Owner","Home")">@*<i class="fa fa-shopping-cart">*@</i>&nbsp;&nbsp;Buy NFT</a></li>
                            </ul>
                            <div class="me-toggle-nav">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <a href="javascript:;" class="me-login-menu" data-toggle="modal" data-target="#meLogin"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            @RenderBody()
        </div>


        <!-- Footer -->
        <div class="me-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-6 col-sm-6"></div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="me-footer-block">
                            <div class="me-logo">
                                <a href="https://cardanochameleons.io/"><img src="~/Content/assets/images/logo.png" alt="logo" class="img-fluid" /></a>
                                @*<a href="@Url.Action("Index","Home")"><img src="~/Content/assets/images/logo.png" alt="logo" class="img-fluid" /></a>*@
                            </div>
                            <ul>
                                @*<li class="me-footer-emial">support@cardanochameleons.com</li>
                                    <li>+11-789-6542-852</li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="me-footer-block">
                            <h4>Links</h4>
                            <ul>
                                @*<li><a href="@Url.Action("Explore","Home")"><i class="fa fa-rocket pr-2"></i>Explore</a></li>*@
                                <li><a href="https://cardanochameleons.io/" target="_blank" ><i class="fa fa-home pr-2"></i>Home</a></li>
                                <li><a href="https://cardanochameleons.io/about/" target="_blank"><i class="far fa-building pr-2"></i>&nbsp;About</a></li>
                                <li><a href="https://cardanochameleons.io/roadmap/" target="_blank"><i class="fa fa-road"></i>&nbsp;&nbsp;Roadmap</a></li>
                                <li><a href="https://cardanochameleons.io/faq/" target="_blank"><i class="fa fa-question-circle pr-2"></i>&nbsp;FAQ</a></li>
                                <li><a href="@Url.Action("Owner","Home")"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Buy</a></li>
                                <li><a href="https://cnft.tools/cardanochameleons"><i class="fa fa-rocket pr-2"></i>Explore</a></li>
                                @*<li><a href="@Url.Action("Explore","Home")"><i class="fa fa-rocket pr-2"></i>Explore</a></li>*@
                                @*<li><a href="@Url.Action("Faq","Home")"><i class="fa fa-question-circle pr-2"></i>FAQ's</a></li>
        <li><a href="@Url.Action("AboutUs","Home")"><i class="far fa-building pr-2"></i>About us</a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="me-footer-block">
                            <h4>Social</h4>
                            <ul>
                                <li><a href="https://twitter.com/ChameleonNFT" target="_blank"><i class="fab fa-twitter pr-2"></i>Twitter</a></li>
                                <li><a href="http://discord.gg/wWAhsZh4R4" target="_blank"><i class="fab fa-discord pr-2"></i>Discord</a></li>
                                <li><a href="https://www.reddit.com/r/CardanoChameleons/" target="_blank"><i class="fab fa-reddit pr-2"></i>Reddit</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright Footer -->
        <div class="me-footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <div class="me-copyright-block">
                            @*                            <p align="centre">&copy; 2021 copyright all right reserved by <a href="@Url.Action("Index","Home")">Cardano Chameleons</a></p>*@
                            <p align="centre">&copy; 2021 copyright all right reserved by <a href="https://cardanochameleons.io/">Cardano Chameleons</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/swiper.min.js"></script>
    <script src="~/Content/assets/js/SmoothScroll.min.js"></script>
    <script src="~/Content/assets/js/ui_range_slider.js"></script>
    <script src="~/Content/assets/js/canvasjs.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>
</body>
</html>